@charset "utf-8";

	a {
	font-family: font_ttf, Geneva, sans-serif;
	text-decoration: none;
	font-weight: bold;
		}
	p {
		font-family: font_ttf, Geneva, sans-serif;
		}
	h1 {
		font-family: font_ttf, Geneva, sans-serif;
		text-align: center;
		}
	h2 {
		font-family: font_ttf, Geneva, sans-serif;
		text-align: center;
		}
			
	body {
		background: #990099;
		margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				padding-top: 0px;
				padding-right: 0px;
				padding-bottom: 0px;
				padding-left: 0px;
				border-top-width: 0px;
				border-right-width: 0px;
				border-bottom-width: 0px;
				border-left-width: 0px;
				border-top-style: none;
				border-right-style: none;
				border-bottom-style: none;
				border-left-style: none;
				background: #000066;
				overflow-y:hidden;
				overflow-x:hidden;
}
#subtitle {
	font-family: "Times New Roman", Times, serif;
	color: #fff;
	font-style: italic;
	font-weight: bold;
	font-size: medium;
	vertical-align: 50%;
}
#divMenu {
	width: 100%;
	height: 1%;
	position: absolute;
	z-index: 222;
	padding: 0px;
	margin: 0px;
}
#divHUD {
	height: 32px;
	background-color: rgba(255,255,255,0.2);
	padding: 4px;
}
#divCanvas {
	background-color: #003300;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 111;
	left: 0px;
	top: 0px;
}
