.Comfortaa{
	font-family: 'Comfortaa', sans-serif;
}
.text1cm{
	font-size: 1cm;
}
#contentSVG{
	padding:0px; 
	margin:0px;
	height: 100%;
    width: 100%;
}
html {
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
}
body{
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
	background-color: #fff;
	overflow:hidden;
	font-family: 'Comfortaa', sans-serif;
	font-size: 1cm;
}
.bgField{
	fill: rgba(127,127,127,0.5);
}
.hexback1{
	fill:url(#hexback1);
}
.hexback2{
	fill:url(#hexback2);
}
.hexback3{
	fill:url(#hexback3);
}
.hexback4{
	fill:url(#hexback4);
}
.hexback5{
	fill:url(#hexback5);
}
.hexback6{
	fill:url(#hexback6);
}
.hexback7{
	fill:url(#hexback7);
}
.backline1{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
}
.backline2{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
	transform: scale(2,2);
}
.backline3{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
	transform: scale(4,4);
}
.backline4{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
	transform: scale(8,8);
}
.backline5{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
	transform: scale(16,16);
}
.backline6{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
	transform: scale(32,32);
}
.backline7{
	stroke:#069 ;
	stroke-width:0.005cm; 
	fill: none;
	transform: scale(64,64);
}
.subtrack {
	stroke:rgba(0,96,144,0.75);
	stroke-width:4.95cm; 
	stroke-linecap:round;
}
.atrack {
	stroke2:#999; 
	stroke:rgba(127,127,127,0.75);
	stroke-width:4.95cm; 
	stroke-linecap:round;
}
.seltrack {
	stroke:#000 ;
	stroke-width:4.95cm; 
	stroke-linecap:round;
}
.spottrack {
	stroke:rgba(255,0,0,0.0001);
	stroke-width:4.95cm; 
	stroke-linecap:round;
}
.abeat2 {
	fill2: #999;
	fill:rgba(0,0,0,0.5);
}
.selbeat2 {
	fill: #000;
}
.buttonSpot {
	fill: rgba(255,127,127,0.0001);
}
.buttonFill {
	fill: #069;
}
.buttonStoke {
	stroke: #069;
	stroke-width: 0.03cm;
	fill: none;
}
.buttonBack {
	fill: #fff;
}
.buttonShadow{
	fill: #000;
	filter: url(#shadowBlur);
}
.pitchName {
	font-size: 1cm;
	fill: #f00;
}
.timeLabel1 {
	font-size: 1cm;
	fill: rgba(127,127,127,0.5);
}
.timeLabel3 {
	font-size: 3cm;
	fill: rgba(127,127,127,0.5);
}
.timeLabel5 {
	font-size: 5cm;
	fill: rgba(127,127,127,0.5);
}
.timeLabel10 {
	font-size: 10cm;
	fill: rgba(127,127,127,0.5);
}
.timeLabel30 {
	font-size: 30cm;
	fill: rgba(127,127,127,0.5);
}
.timeLabel100 {
	font-size: 100cm;
	fill: rgba(127,127,127,0.5);
}
.octave1 {
	font-size: 3cm;
	fill: rgba(127,127,127,0.5);
}
.octave9 {
	font-size: 5cm;
	fill: rgba(127,127,127,0.5);
}
.trackNames {
	font-size: 5cm;
	fill: #333;
}
.smallNames {
	font-size: 0.5cm;
	fill: #333;
}
.trackButton {
	stroke: #069;
	stroke-width: 0.25cm;
	fill: none;
}
.trackActiveButton {
	stroke: #069;
	stroke-width: 0.25cm;
	fill: #069;
}
.density1 {
	fill: rgba(127,127,127,0.05);
}
.density2 {
	fill: rgba(127,127,127,0.1);
}
.density3 {
	fill: rgba(127,127,127,0.15);
}
.density4 {
	fill: rgba(127,127,127,0.2);
}
.density5 {
	fill: rgba(127,127,127,0.25);
}
.noteName {
	font-size: 4cm;
	fill: #fff;
}
.masterLines {
	stroke: #069;
	stroke-width: 5.2cm;
	stroke-linecap:round;
	fill: none;
}
.masterShadow {
	stroke: #999;
	stroke-width: 6cm;
	stroke-linecap:round;
	fill: none;
}
