/* latin */
@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(https://fonts.gstatic.com/s/yesteryear/v5/Y-2_3oNnGXTRT4ySJQfhEPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
