.textA{
	font-family: 'Racing Sans One', sans-serif;
}
html {
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
}
body{
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
	background-color: #abc;
}
body2{
	background-image: url('img/bg.png');
	background-color: #fff;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}
body3{
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
	background-image: url('img/blur.jpg');
	background-color: #fff;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: left top;
	background-size: cover;
}
#contentSVG{
	height: 100%;
    width: 100%;
	font-family: 'Racing Sans One', sans-serif;
}
#contentDiv{
	height: 100%;
    width: 100%;
	padding: 0px;
	margin: 0px; 
	overflow:hidden;
	
	
	
    
}
.undob {
	position:absolute;
	top:0px;
	right:0px;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
	margin-bottom:0px;
}
.redob {
	position:absolute;
	top:30px;
	right:0px;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-top:0px;
	margin-right:5px;
	margin-bottom:5px;
}

.pinb {
	position:absolute;
	top:60px;
	right:0px;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
	margin-bottom:0px;
}
.backb {
	position:absolute;
	top:90px;
	right:0px;
	width:20px;
	height:20px;
	margin-left:5px;
	margin-top:0px;
	margin-right:5px;
	margin-bottom:5px;
}

