.textA{
	font-family: 'Racing Sans One', sans-serif;
}
html {
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
	font-family: 'Racing Sans One', sans-serif;
	font-size: 0.5cm;
}
body{
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
	background-color: #abc;
}
body2{
	background-image: url('img/bg.png');
	background-color: #fff;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}
body3{
	padding:0px; 
	margin:0px;
	width:100%; 
	height:100%;
	background-image: url('img/blur.jpg');
	background-color: #fff;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: left top;
	background-size: cover;
}
#contentSVG{
	height: 100%;
    width: 100%;
	font-family: 'Racing Sans One', sans-serif;
}
#contentDiv{
	height: 100%;
    width: 100%;
	padding: 0px;
	margin: 0px; 
	overflow:hidden;
	
	
	
    
}
.undob {
	position:absolute;
	top:2cm;
	right:0px;
	width:1cm;
	height:1cm;
	
}
.redob {
	position:absolute;
	top:3cm;
	right:0px;
	width:1cm;
	height:1cm;
	
}

.pinb {
	position:absolute;
	top:2cm;
	right:0px;
	width:1cm;
	height:1cm;
	
}
.backb {
	position:absolute;
	top:3cm;
	right:0px;
	width:1cm;
	height:1cm;
	
}
.menub {
	position:absolute;
	top:0;
	right:0;
	width:1cm;
	height:1cm;
	
}
.playb {
	position:absolute;
	top:1cm;
	right:0;
	width:1cm;
	height:1cm;
	
}

.mainmenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #eef;
    overflow-x: hidden;
    transition: 0.5s;
	margin: 0px;
	padding:0px;
	box-shadow: 0px 0px 0.3cm grey;
}
.menucontent {
	margin: 0px;
	padding:0px;
	border-left-style1: solid;
	border-left-color1: #abc;
	border-left-width1: 1px;
}
.buttonicon {
    height: 1cm;
	width:1cm;
	vertical-align: middle;
}
a {
	color: black;
	text-decoration: none;
}
.menuelements {
	margin-left: 0.2cm;
	margin-right: 0.2cm;
	padding:0px;
}
.menuheader {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#abc;
}
.menubutton {
	margin: 0;
	padding-top:0.5cm;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#abc;
}
.menubuttonHead {
	margin: 0;
	padding-top:0.5cm;
}
.menubuttonRow {
	margin: 0;
	padding-top:0.5cm;
	font-size: 75%;
}
.menubuttonFoot {
	margin: 0;
	padding-top:0.5cm;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color:#abc;
	font-size: 75%;
}
